APP_NAME=APPNAME
APP_URL=http://localhost:8080

POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=testing
POSTGRES_HOST=db
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=accesskey
AWS_SECRET_ACCESS_KEY=secret_access_key
AWS_S3_ENDPOINT=minio:9000
AWS_S3_BUCKET_NAME=storage
AWS_S3_SECURE=False
AWS_S3_PUBLIC_ENDPOINT_URL=http://localhost:9000

DEBUG=True
LOG_LEVEL=INFO

JWT_ALGORITHM=HS256
JWT_SECRET=dxbNERXP4myw3MVxmLxewRTdhw2coWvd
JWT_REFRESH_SECRET=dxbNERXP4myw3MVxmLxewRTdhw2coWvd
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MAIL_USERNAME=mailpit
MAIL_PASSWORD=mailpit
MAIL_FROM=app@gmail.com
MAIL_PORT=1025
MAIL_SERVER=mailpit
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
MAIL_FROM_NAME=AppName

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=testing

GEMINI_API_KEY=your-gemini-api-key
